.hobby-list{
    list-style-type: none;
}

.gallery-title {
    display: inline-block; 
    padding: 20px 40px; 
    /* border: 3px solid #000000;  */
    border-radius: 8px; 
    background-color: rgb(82, 82, 82); 
    color: rgb(255, 255, 255); 
    font-size: 36px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.image-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 2px solid #ffffff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2b2b2b;
    color: rgb(255, 255, 255);
}

tr:nth-child(even) {
    background-color: #3f3f3f;
}

.hobby-title {
    display: inline-block; 
    padding: 20px 40px; 
    /* border: 3px solid #000000;  */
    border-radius: 8px; 
    background-color: rgb(82, 82, 82); 
    color: rgb(255, 255, 255); 
    font-size: 36px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main {
    flex: 1; 
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: #ffffff;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.highlight {
    font-size: 24px; 
    font-weight: bold; 
    color: #ffffff; 
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 20px; 
}

figure {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #494949, #222222); 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background: #222222; 
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

.resume-title {
    display: inline-block; 
    padding: 20px 40px; 
    border: 3px solid #525252; 
    border-radius: 8px; 
    background-color: rgb(82, 82, 82); 
    color: rgb(255, 255, 255); 
    font-size: 36px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавлено для анимации */
}

.resume-title:hover {
    transform: scale(1.05); /* Увеличение при наведении */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Тень при наведении */
}

.hobby-title:hover {
    transform: scale(1.05); /* Увеличение при наведении */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Тень при наведении */
}

.gallery-title:hover {
    transform: scale(1.05); /* Увеличение при наведении */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Тень при наведении */
}

nav {
    margin: 20px 0;
    text-align: center; 
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    padding: 5px 10px; 
    background-color: #1d1d1d; 
    border-radius: 5px; 
    border-width: 5px;
    transition: background-color 0.3s ease; 
}

nav a:hover {
    background-color: #4b4b4b; 
}

main {
    flex: 1; 
    width: 60%;
    margin: auto;
    overflow: hidden;
    background: rgb(90, 90, 90);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.description {
    color: #ffffff; 
    font-size: 20px; 
    text-align: left; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #303030; 
    color: rgb(255, 255, 255);
}
